@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.navds-form-field__error{
    @apply hidden
}

.decorator-wrapper .sok-knapper__container{
    top: 2.5rem;
}